<!-- <div class="card" style="width: 18rem;">
  <img src={{movie.image.url}} class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{movie.title }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
</div> -->

<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-3 col-lg-3">
      <div class="card">
        <img class="card-img-top" [src]="movie.image.url" alt="">
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title display-1 text-center"><strong>{{movie.title | uppercase}} ({{movie.year}})</strong></h1>
        </div>
        <div class="card-body">
          <strong class="my-2">Sinopsis:</strong>
          <p class="card-text p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore sint saepe.
            Voluptatum, consequatur suscipit! Cumque animi expedita non ipsa suscipit vel. Exercitationem facere ullam
            ratione. Dolores sunt repellat tempora.</p>
          <strong class="my-2">Cast:</strong>
          <ul class="list-group list-group-flush my-1">
            <li class="list-group-item" *ngFor="let principal of movie.principals">{{principal.name}}</li>
          </ul>
          <button class="btn btn-primary btn-block" (click)="addMovieToCart()">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
