<!-- <div class="card" style="width: 18rem;">
  <div *ngFor="let m of cart">
    <img [src]="m.image.url" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{ m.title }}</h5>
      <p class="card-text"> The movie has been added to the cart</p>
    </div>
  </div>
</div>
<button (click)="vaciarCarrito()">Vaciar Carrito</button> -->

<div class="container mt-5"  >
  <div class="table-responsive">
    <table class="table table-hover text-center" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Poster</th>
          <th scope="col">Title</th>
          <th scope="col">Amount</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="cart.length!==0">
        <tr *ngFor="let movie of cart">
          <td>{{movie.id}}</td>
          <td><img [src]="movie.image.url" style="width: 60px;" class="img-thumbnail" alt="..."></td>
          <td><strong>{{movie.title | uppercase}}</strong></td>
          <td>1</td>
          <td><strong><a (click)="removeMovie(movie)"><i class="bi bi-trash fs-3 text-danger"></i></a></strong></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
         <td> <button class="btn btn-primary btn-lg btn-danger btn-block" (click)="emptyCart()" >Vaciar Carrito</button></td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
